<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    
</head>
<body>
    <table>
        <tr>
            <th>名前</th>
            <th>email</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
    </table>
    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
    <p id="textTag1"></p>
    <p id="textTag2"></p>
    <ul id="arrayList"></ul>

    <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->
    <script type="text/javascript">

        // 参考例
        let textTag1 = document.getElementById('textTag1');
        let NUMBER = `<%= number %>`;
        textTag1.innerHTML = NUMBER;

        // 基礎課題01:文字列を画面に出力
        let STRING = `<%= string %>`;
        let textTag2 = document.getElementById('textTag2');
        textTag2.innerHTML = STRING;

        // 基礎課題02:リストを画面表示
        let arrayList = document.getElementById('arrayList');
        let ARRAY = JSON.parse('<%= JSON.stringify(array) %>'.replace(/&#34;/g, '"')); //配列と連想配列を使用する時、この変換の記述が必要
        for (let i=0; i<ARRAY.length; i++) {
          let li = `<li>${ARRAY[i]}</li>`;
          arrayList.insertAdjacentHTML('beforeend', li);
        }

        // ここからはapp.jsで作成した値をここでブラウザに出力するように機能を実装していきましょう。上記の参考例を元にやってみましょう。
        // 基礎課題01:画面に表示する機能作りましょう。
        /*
        基礎課題02,03をやる前に
        配列とオブジェクトリストをapp.jsから取得するときに以下のやり方が必要になります。
        変数名は自由に決めてください。プロパティ名についてはapp.jsでオブジェクト内に格納したプロパティ名を使用してください。
        以下使用する際は<%#の「#」部分を「=」に変更するよう気をつけてください。%>
        let 変数名 = JSON.parse('<%# JSON.stringify(プロパティ名) %>'.replace(/&#34;/g, '"'));
        */

        // 基礎課題02:HTML内にulタグを作成し、liタグでapp.jsで作成した情報を画面に表示して下さい。

        // 基礎課題03:作成したオブジェクトリストをブラウザに出力して下さい。その場合以下の様に出力して下さい。
        // 例）
        // name: s.chiba
        // email: s.chiba@gmail.com
    </script>
</body>
</html>