<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="mb-10">
    <div>idを入力して、ボタンを押すとDBの情報を表示できます。</div>
    <input id="textBox" type="text">
    <button id="btn">出力</button>
    <div id="errorMsg"></div>
  </div>
  <table>
      <tr>
          <th>名前</th>
          <th>email</th>
          <th>更新</th>
          <th>削除</th>
      </tr>
  </table>
  <p><a href="/create">ユーザーの追加</a></p>

  <!--こちらに基礎課題で言われてる内容を記述しましょう。ここから-->
  <p id="textTag"></p>
  <!--こちらに基礎課題で言われてる内容を記述しましょう。ここまで-->

  <script type="text/javascript">
    //DBに格納しているオブジェクトリストを変数(userList)に格納
    let userList = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));

    //入力した値と、DBのidが合致したら、その情報を表示させる
    let btn = document.getElementById('btn');
    // btn.addEventListener('click', function(){
      let inputValue = document.getElementById('textBox').value;
      const tbody = document.querySelector('table tbody');
      const errorMsg = document.getElementById('errorMsg');
      
      for (let i=0; i<userList.length; i++){
        let id = userList[i].id;
        let tr = `<tr>
                      <td>${userList[i].name}</td>
                      <td>${userList[i].email}</td>
                      <td><a href="/edit/${ id }">更新</a></td>
                      <td><a href="/delete/${ id }">削除</a></td>
                    </tr>`;
        tbody.insertAdjacentHTML('beforeend', tr);

        // if (ID == inputValue) {
        //   let tr = `<tr>
        //               <td>${userList[i].name}</td>
        //               <td>${userList[i].email}</td>
        //               <td><a href="/edit/${ ID }">更新</a></td>
        //               <td><a href="/delete/${ ID }">削除</a></td>
        //             </tr>`;
        //   tbody.insertAdjacentHTML('beforeend', tr);
        //   return;
        // } else {
        //   errorMsg.textContent = '入力したidは存在しません';
        // }
      }
    // });
  </script>
</body>
</html>